{% extends "admin/base.html" %}
{% block content %}
<div class="container-md mt-md-3 text-center ms-auto me-auto" style="max-width: 1048px;">

    <form method="GET" action="{{ url_for('admin.all_customers') }}" class="d-flex justify-content-center mb-4">
        <input type="text" name="query" class="form-control me-2" placeholder="Search by name, address, or ID" value="{{ request.args.get('query', '') }}" style="max-width: 300px;">
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>

    <div class="btn-group mb-4">
        <a href="{{ url_for('admin.all_customers', sort_by='first_name', order='asc', query=request.args.get('query', '')) }}" class="btn btn-outline-primary">Sort by Name Ascending</a>
        <a href="{{ url_for('admin.all_customers', sort_by='first_name', order='desc', query=request.args.get('query', '')) }}" class="btn btn-outline-primary">Sort by Name Descending</a>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        {% for customer in customers.items %}
            <div class="card me-2 ms-2 p-2 bg-light" style="width: 18rem; border: none; min-width: 222px;">
                <div class="card-body">
                    <h4>{{ customer.first_name }} {{ customer.last_name }}</h4>
                    <p class="card-text">{{ customer.email }}</p>
                    <span class="fs-6">{{ customer.phone }}</span>
                    <br><br>
                    <div class="d-flex mt-auto">
                        <a href="{{ url_for('admin.update_customer', user_id=customer.id) }}" class="btn btn-primary">Update</a>
                        <button type="button" class="btn btn-outline-danger ms-auto" data-bs-toggle="modal" data-bs-target="#deleteModal{{ customer.id }}">
                            Delete
                        </button>
                        <div class="modal fade" id="deleteModal{{ customer.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this customer?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <form action="{{ url_for('admin.delete_customer', user_id=customer.id) }}" method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container text-center">
    {% for page_num in customers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if customers.page == page_num %}
                <a href="{{ url_for('admin.all_customers', page=page_num, sort_by=request.args.get('sort_by', 'first_name'), order=request.args.get('order', 'asc'), query=request.args.get('query', '')) }}" class="btn btn-primary mb-4">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('admin.all_customers', page=page_num, sort_by=request.args.get('sort_by', 'first_name'), order=request.args.get('order', 'asc'), query=request.args.get('query', '')) }}" class="btn btn-outline-primary mb-4">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
