{% extends "admin/base.html" %}
{% block content %}
<section>
    <div class="container-sm">
        <h2 class="h2">Admin page</h2>
        <hr>
        <nav class="nav flex-column">
            <a class="nav-link" aria-current="page" href="{{ url_for('admin.add_comic') }}">Add a comic</a>
            <a class="nav-link" href="{{ url_for('admin.all_comics') }}">Update or delete a comic</a>
            <a class="nav-link" aria-current="page" href="{{ url_for('admin.add_freelancer') }}">Add an freelancer</a>
            <a class="nav-link" href="{{ url_for('admin.all_freelancers') }}">Update or delete an freelancer</a>
            <a class="nav-link" aria-current="page" href="{{ url_for('admin.add_customer') }}">Add an Customer</a>
            <a class="nav-link" href="{{ url_for('admin.all_customers') }}">Update or delete an Customer</a>
            <a class="nav-link" href="{{ url_for('admin.all_orders') }}">View all orders</a>
            <a class="nav-link" href="{{ url_for('main.home') }}">Exit</a>
        </nav>
    </div>
</section>
{% endblock %}