{% extends "secondary_base.html" %}
{% block styles %}
<style>
    .form-container {
        background-color: rgb(161, 176, 190);
        max-width: 530px;
        margin-left: 50%;
        margin-top: 20%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock styles %}

{% block content %}
<div class="p-5 form-container">
    <h2 class="h2 mb-md-4">Reset password</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="form-group mt-2 mb-3">
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>
            {{ form.submit(class="btn btn-primary mb-2") }}
        </fieldset>
    </form>
</div>
{% endblock content %}