{% extends "base.html" %}

{% block styles %}
<style>
    .form-container {
        padding: 2rem;
        margin: 4rem auto;
        border: 2px solid rgb(71, 71, 71);
        border-radius: 9px;
        max-width: 510px;
        display: grid;
        align-self: center;
        background-color: pink;
        max-width: 530px;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="p-5 mt-2 mt-5 mb-5 ms-md-auto me-md-auto form-container">
    <h2 class="h2 mb-md-4">Update Password</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="mt-2 mb-3">
                {{ form.current_password.label(class="form-label") }}
                {% if form.current_password.errors %}
                    {{ form.current_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.current_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group mt-2 mb-3">
                {{ form.new_password.label(class="form-label") }}
                {% if form.new_password.errors %}
                    {{ form.new_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.new_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group mt-2 mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
            {{ form.submit(class="btn btn-primary mb-2") }}
        </fieldset>
    </form>
</div>
{% endblock %}