{% extends "supplier/base.html" %}

{% block styles %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
{% endblock styles %}

{% block content %}
<div class="p-5 mt-2 mt-5 mb-5 ms-md-auto me-md-auto" style="max-width: 520px;">
    <h2 class="h2 mb-md-4">Add a Freelancer.</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mt-2 mb-3">
            {{ form.first_name.label(class="form-label") }}
            {% if form.first_name.errors %}
                {{ form.first_name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.first_name(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mt-2 mb-3">
            {{ form.last_name.label(class="form-label") }}
            {% if form.last_name.errors %}
                {{ form.last_name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.last_name(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mt-2 mb-3">
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mt-2 mb-3">
            {{ form.phone.label(class="form-label") }}
            {% if form.phone.errors %}
                {{ form.phone(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.phone.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.phone(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mt-2 mb-3">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="form-group mt-2 mb-3">
            {{ form.address.label(class="form-label") }}
            {% if form.address.errors %}
                {{ form.address(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.address(class="form-control") }}
            {% endif %}
        </div>
        <div class="row row-cols-1 row-cols-md-2 d-flex me-4">
            <div class="col-md-8 form-group mt-2 mb-3">
                {{ form.country.label(class="form-label") }}
                {{ form.country(class="form-select") }}
            </div>
        {{ form.submit(class="btn btn-primary mb-2") }}
    </form>
</div>
{% endblock %}
