{% extends "base.html" %}

{% block styles %}
<style>
    /* .series-grid {
        display: grid;
        grid-
    } */
</style>
{% endblock %}


{% block content %}
<div class="container-md mt-md-3 max-width">
    <h3 class="h3 display-3 mt-3 mb-3">Fre</h3>
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            <!-- <div class="card">
                <img src="{{ url_for('static', filename='images/series_covers/kadoko.jpg') }}" alt="">
            </div> -->
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}